section{
	margin-top: 70px;
}

.cabecera-seccion h3{
	font-size: 48px;
	color: whitesmoke;
	text-decoration: underline 3px solid gold;
}

.contenedor-form-acceso{
	text-align: center;
}

form{
	text-align: center;
}