/*************************** ESTILOS GENERICOS **************************************/
html, body{
	width: 100%;
	font-family: 'Major Mono Display', monospace;
	background-color: transparent;
}

body{
	background: url(../recursos/imagenes_pagina/fondo-pagina.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.contenedor-body{
	width: 900px;
	position: relative;
	left: 50%;
	margin-left: -450px;
}

h1, h2, h3, h4, h5, h6, li, p, span, a, img{
	color: #f0f0f0;
}

h3{
	font-size: 28px;
}

p{
	font-size: 22px;
	overflow-wrap: break-word;
}

p b{
	color: darkgoldenrod;
}

a{
	margin: 30px;
	font-size: 20px;
}

input{
	font-family: monospace;
}

input[type="button"]{
	font-family: inherit;
}

button{
	background: inherit;
	border: none;
	font-family: inherit;
}

input, select{
	display: block;
	margin: 30px auto;
	text-align: center;
}

input[type="text"], input[type="password"], input[type="url"], input[type="file"], select{
	font-size: 24px;
	color: darkgoldenrod;
	background-color: inherit;
	border-bottom: 2px solid black;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="file"]:hover{
	border-bottom: 2px solid goldenrod;
}

input[type="submit"]{
	padding: 5px 15px;
	font-size: 18px;
	text-transform: uppercase;
	color: whitesmoke;
	background-color: darkgoldenrod;
	border: 2px solid transparent;
	transition: .1s;
}

input[type="submit"]:hover{
	border: 2px solid dimgray;
}

a{
	display: block;
	text-align: center;
	color: dimgray;
	font-size: 14px;
	transition: .1s;
}

a:hover{
	color:goldenrod;
}


/*************************** HEADER **************************************/
header{
	height: 75px;
	margin-top: 30px;
}

.contenedor-header{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
	background-color: #242424;
	border-radius: 5px;
}

.contenedor-logo{
	width: 200px;
	text-align: center;
}

.contenedor-logo h3{
	font-size: 36px;
}

.lista-items-nav{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.item-nav{
	margin-left: 20px;
	display: inline-block;
	width: 25%;
	text-align: center;
}

.enlace-nav{
	padding: 3px;
	color: whitesmoke;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
	transition: .1s;
}

.enlace-nav:hover{
	border-bottom: 3px solid #f0f0f0;
}

.border-bot{
	border-bottom: 3px solid darkgoldenrod;
}



/************************************ SECTION *********************************************/
section{
	margin-top: 30px;
}

.contenedor-section{
	width: 100%;
}

.section-principal{
	margin: auto;
	position: relative;
}

.contenedor-seccion-principal{
	margin-bottom: 45px;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 45px;
	box-sizing: border-box;
	background-color: #242424;
	border-radius: 5px;
}

.contenedor-section-principal:nth-child(2){
    margin-bottom: 30px;
}

.cabecera-seccion h3{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold; 
}

.cabecera-seccion p{
	font-size: 24px;
	text-align: center;
}

.cuerpo-seccion{
	padding: 3%;
}

.items-seccion{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.item{
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 30%;
	height: 150px;
	border-radius: 15px;
	transition: .1s;
	background-color: #393939;
	border: 3px solid transparent;
}

.item:hover{
	background-color: white;
	border: 3px solid darkgoldenrod;
}

.item:hover p{
	color: darkgoldenrod;
}

.item a{
	display: block;
	text-align: center;
	color: inherit;
}

.item p{
	color: whitesmoke;
	font-weight: bold;
}



/************************************ FOOTER *********************************************/

footer{
	margin: auto;
	margin-bottom: 30px;
        padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #242424;
}

.contenedor-footer{
	width: 100%;
}

.contenedor-footer p{
    font-size: 16px;
}

.footer-izq h3{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}

.footer-der a{
    width: 100%;
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.footer-der a span{
    transition: .1s;
}

.footer-der a:hover span{
    color: darkgoldenrod;
}

.logo-git{
	width: 30px;
        margin-left: 10px;
}



/****************************** INTERACCION CON EL USUARIO ***********************************/
.mensaje{
	text-align: center;
}

.mensaje-exito{
	text-align: center;
	color: forestgreen;
}

.mensaje-error{
	text-align: center;
	color: darkred;
}