html, body{
	width: 100%;
	font-family: 'Major Mono Display', monospace;
	background-color: transparent;
}

body{
	background: url(../img/fondo-pagina.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}