{% extends "base.html.twig" %}

{% block title %}Inicio{% endblock %}

{% block container_section %}
    <div class="col col-10">
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
    </div>
{% endblock %}