{% extends "base.html.twig" %}

{% block title %}Login{% endblock %}

{% block section %}
    <div class="col col-10">
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
        <p>Parrafo de prueba</p>
    </div>
{% endblock %}